In [53]:
import pandas as pd
import numpy as np

In [54]:
data = {'make_cat': 0, 'model_cat': 1, 'mileage': 23, 'city_mpg': 23, 'highway_mpg': 23, 'year': 2000, 'Bluetooth': 1, 'Backup Camera': 0, 'Infotainment': 0, 'Screen': 0, 'Navigation': 0, 'Power Seat Controls': 0, 'Rear Air Vents': 0, 'Bed Liner': 0, 'Tow Hitch': 0, 'Heated Seats': 0, 'Hands Free Calling': 1}

In [55]:
df = pd.read_csv('../../data/CarvanaEncoded.csv')

In [56]:
df.head()

,Unnamed: 0,mileage,Bluetooth,Backup Camera,Infotainment,Screen,Navigation,Hands Free Calling,Heated Seats,Power Seat Controls,...,V6,V8,6-Cyl,city_mpg,highway_mpg,price,year,model_cat,details_cat,make_cat
0,0,57543,1,1,1,0,0,1,0,1,...,0,0,0,26,37,19990,2016,43,74,28
1,1,51210,0,0,1,0,0,0,0,0,...,0,0,0,25,36,16990,2011,92,404,13
2,2,19216,1,1,1,0,0,0,1,1,...,0,0,0,26,38,21990,2016,156,687,10
3,3,54167,1,0,1,0,0,1,1,1,...,0,0,0,24,34,17590,2014,278,16,39
4,4,11168,1,1,1,0,0,0,0,0,...,0,0,0,23,29,23990,2021,124,530,10

In [57]:
input_df = pd.DataFrame(data, index=[0])

In [58]:
input_df

,make_cat,model_cat,mileage,city_mpg,highway_mpg,year,Bluetooth,Backup Camera,Infotainment,Screen,Navigation,Power Seat Controls,Rear Air Vents,Bed Liner,Tow Hitch,Heated Seats,Hands Free Calling
0,0,1,23,23,23,2000,1,0,0,0,0,0,0,0,0,0,1

In [59]:
column_order = ['mileage',
 'Bluetooth',
 'Backup Camera',
 'Infotainment',
 'Screen',
 'Navigation',
 'Hands Free Calling',
 'Heated Seats',
 'Power Seat Controls',
 'Rear Air Vents',
 'Bed Liner',
 'Tow Hitch',
 'city_mpg',
 'highway_mpg',
 'year',
 'model_cat',
 'make_cat']

In [60]:
input_df = input_df[column_order]

In [61]:
input_df

,mileage,Bluetooth,Backup Camera,Infotainment,Screen,Navigation,Hands Free Calling,Heated Seats,Power Seat Controls,Rear Air Vents,Bed Liner,Tow Hitch,city_mpg,highway_mpg,year,model_cat,make_cat
0,23,1,0,0,0,0,1,0,0,0,0,0,23,23,2000,1,0

In [62]:
from xgboost import XGBRegressor

In [63]:
features_array = np.array(input_df.iloc[0])

In [64]:
xgb = XGBRegressor()

In [65]:
xgb.load_model('./linear_model.json')

In [66]:
xgb.predict(input_df)

c:\Users\abclay\Desktop\Car-Appraisal-Master\venv\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

array([18236.494], dtype=float32)